html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cascadia Code';
}

h1 {
    color: purple;
}

code {
    background-color: cadetblue;
}

img, video {
    max-width: 50%;
    height: auto;
}

iframe {
    width: 80%;
    height: 400px;
}